
<!-- Routing  -->
<div class="p-5 m-5 text-danger d-flex flex-column">
<!--  Navigation Bar  -->
<nav class="navbar navbar-inverse">
  <div  class="container-fluid">
    <!-- header  -->
<a class="navbar-brand" href="#"> Accounts </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul style="display:inline-block;"  class="nav navbar-nav">
      <!-- home -->
      <li>
<a class="nav-link" [routerLink]="[homePath]" routerLinkActive="active"  (click)="toHome()"> Home &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  </a>
     </li>
    <!-- users -->
  <li class="nav-item dropdown">
<a class="nav-link" [routerLink]="[detailsPath]" routerLinkActive="active" (click)="toUsers()" > Users &nbsp;&nbsp;&nbsp;&nbsp;
</a>

</li>
    <!-- about -->
  <li>
<a class="nav-link" (click)="toAbout()" [routerLink]="[aboutPath]" routerLinkActive="active"> &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; About </a>
  </li>
  </ul>
</div>
</div>
</nav>
</div>
<router-outlet></router-outlet>
<!--  Switch to move between pages  -->
<!-- <div style="margin:80px">
<ng-container  [ngSwitch]="cond">
  <div *ngSwitchCase="'home'">
    <app-homepage> </app-homepage>
    </div>
  <div *ngSwitchCase="'users'">
<app-users> </app-users>
</div>
   <div *ngSwitchCase="'about'">
    <app-about> </app-about>
    </div>
</ng-container >
</div>-->
